POSTGRES_USER=nuztrack
POSTGRES_DB=nuztrack
POSTGRES_PORT=5432
POSTGRES_PASSWORD=nuztrackPW
KEYCLOAK_ADMIN: admin
KEYCLOAK_ADMIN_PASSWORD: admin
KEYCLOAK_URL: http://localhost:8081
KEYCLOAK_HOSTNAME: localhost:8081
BACKEND_URL: http://localhost:8080