<head>
    <title>{{ save_file.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            padding: 0;
            background: #212121;
        }
        .main-container {
            flex: 1;
            margin-bottom: 0 !important;
            display: flex;
            min-width:70%;
            padding-top: 3em;
        }
        .main-content {
            padding: 1rem;
            flex: 1;
            background: #212121;
        }
        .top-navbar {
            max-height: 3.25rem;
        }
        h2 {
            background-color: #424242;
            border-radius: 5px;
            color: white;
        }
    </style>
</head>
<body>
    <div id="navbar">
        <nav class="navbar is-fixed-top is-dark top-navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <h1 class="navbar-item">{{ save_file.title }}</h1>
            </div>
            <div class="navbar-menu" id="navbar-menu">
                <div class="navbar-start">
                    <h1 class="navbar-item">{{ game }}</h1>
                    <h1 class="navbar-item" style="color: {{ {
                    "ongoing": "#fbd200",
                    "complete": "#008000",
                    "failed": "#ff0000"
                    }[save_file.state.value] }}">{{ save_file.state.value.title() }}</h1>
                </div>
                <div class="navbar-end">
                    {% set milestone_count = save_file.milestones|length %}
                    {% for milestone_id in range(1, save_file.max_milestones + 1) %}
                        <h1 class="navbar-item" style="{% if milestone_id <= milestone_count %} background-color: #008000 {% endif %}">{{ milestone_id }}</h1>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
    <div class="container is-widescreen main-container">
        <div class="content main-content">
            <h2 style="color: white">Team Members</h2>
            <div class="columns is-vcentered has-text-centered">
            {% for pokemon in save_file.team %}
                {% set species = save_file.pokemon_data.get_pokemon(pokemon.pokedex_number) %}
                <div class="column is-2">
                    <div class="card" style="background-color: #424242">
                        <div class="card-image">
                            <figure class="image is-3by3">
                              <img src="{{ species.sprite }}" alt="{{ species.name }}" style="max-height: 10em; max-width: 10em">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content" style="color: white; text-align: left">
                                <ul style="list-style: none">
                                    <li>{{ pokemon.nickname }} ({{ species.name.title() }})</li>
                                    <li>Lvl. {{ pokemon.level }}</li>
                                    <li>Nature: {{ pokemon.nature.title() }}</li>
                                    <li>Ability: {{ pokemon.ability.title() }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <h2 style="color: white">Boxed Pokemon</h2>
            {% for pokemon in save_file.boxed_pokemon %}
                {% set species = save_file.pokemon_data.get_pokemon(pokemon.pokedex_number) %}
                <img src="{{ species.sprite }}" alt="{{ species.name }}" title="{{ pokemon.nickname }}">
            {% endfor %}
            <h2 style="color: white">Dead Pokemon</h2>
            {% for pokemon in save_file.dead_pokemon %}
                {% set species = save_file.pokemon_data.get_pokemon(pokemon.pokedex_number) %}
                <img src="{{ species.sprite }}" alt="{{ species.name }}" title="{{ pokemon.nickname }}">
            {% endfor %}
            <h2 style="color: white">Log</h2>
            <ul>
            {% for event in save_file.events %}
                <li style="color: white">{{ event.format_description(save_file) }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
