openapi: "3.0.3"
info:
  title: "Nuztrack"
  version: "1.0.0"
  description: "This is a server acting as the backend for Nuztrack. 
                All endpoints are secured using keycloak (https://auth.nuztrack.com). 
                Authenticated calls to the API can be done by adding
                'Bearer TOKEN' to the 'Authorization' header
                after receiving the token from the keycloak server"
  termsOfService: "https://gitlab.namibsun.net/namibsun/kotlin/nuztrack"
  contact:
    name: "Hermann Krumrey"
    url: "https://gitlab.namibsun.net/namibsun/kotlin"
    email: "hermann@krumreyh.com"
  license:
    name: "GPLv3"
    url: "https://www.gnu.org/licenses/gpl-3.0.en.html"
servers:
  - url: "https://api.nuztrack.com/api"
tags:
  - name: "Run Data"
    description: "Retrieving and Creating Nuzlocke Run Data"
  - name: "Information"
    description: "General Information"
paths:
  /runs:
    $ref: "./endpoints/runs.yaml"
  /runs/{id}:
    $ref: "./endpoints/runs_id.yaml"

  /games:
    $ref: "./endpoints/games.yaml"
  /games/{gameKey}/locations:
    $ref: "./endpoints/games_gametitle_locations.yaml"
  /rules:
    $ref: "./endpoints/rules.yaml"

  /pokedex:
    $ref: "./endpoints/pokedex.yaml"
  /pokedex/{pokedexNumber}:
    $ref: "./endpoints/pokedex_pokedexNumber.yaml"
  /pokedex/natures:
    $ref: "./endpoints/pokedex_natures.yaml"

  /events/{runId}:
    $ref: "./endpoints/events.yaml"
  /events/{runId}/encounters:
    $ref: "./endpoints/events_encounters.yaml"

  /team_members/{runId}:
    $ref: "./endpoints/team_members.yaml"